/* Import custom fonts */
@font-face {
    font-family: 'PoppinsMid';
    src: url('/src/assets/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Global Styles */
body {
    font-family: 'PoppinsMid', sans-serif;
    background-color: #202020;
    color: white;
    margin: 0;
    padding: 0;
}

/* Layout Containers */
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
}
.app {
    position: relative;

    display: flex;
    flex-grow: 1;
    width: 100%;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-size: cover;
    transition: backdrop-filter 3s ease-in-out;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(20, 20, 20, 0.7); /* Light blur effect */
    backdrop-filter: blur(10px); /* This creates the blur effect */
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out;

}

.overlay-content {
    padding: 20px;
    border-radius: 10px;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    transition: opacity 3s ease-in-out;
    animation: fadeInOut 3s ease-in-out;
}


.fade-blur {
    opacity: 0;
    backdrop-filter: blur(0px); // Remove blur
}





.main-content {
    position: relative;
    z-index: 1;
    padding: 20px;
}

.mentai-heading {
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    color: rgb(255, 255, 255); // Default color for "Ment"
    font-size: 24px; // Adjust font size as needed
}

.ai {
    color: green; // Color for "AI"
}

/* Sidebar Styles */
.sidebar {
    width: 140px;
    background-color: #000;
    padding: 10px 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 7px;
    margin-left: -10px;
    font-family: 'PoppinsMid', sans-serif;
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
}

.hide_button {
    color: #7b7b7b;
    outline: none;
    resize: none;
    margin: auto;
    position: absolute;
    right: -20px;
    top: 20px;
    transform: translateX(-134%) translateY(28%);

    height: 50px;
    font-size: 30px;
    cursor: pointer;
    border: none;
    background: none;
    transition: color 0.4s ease;
}

.hide_button:hover {
    color: #ffffff;
}

.sidebar-hidden .sidebar {
    transform: translateX(-67.5%);
    opacity: 0.8;
}

.sidebar-visible .sidebar {
    transform: translateX(0);
    opacity: 1;
}

.sidebar h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    padding: 0;
}

.sidebar ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 22px;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    width: 120%;
    min-width: 120%;
}

.sidebar ul li a:hover {
    color: #ffffff; /* Change to the desired hover color */
}

.sidebar ul li a {
    text-decoration: none;
    color: #555555;
    width: 100%;
    margin-left: 2px;
    display: flex;
    justify-content: space-between;
}

/* Chat Component Styles */
.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    padding: 0px 20px;
    margin-right: 90px; // Adjust based on sidebar width
    margin-left: 50px;
    height: 98.5vh; // Full height of the viewport
    overflow-y: auto; // Enables scrolling for chat content
}

.chat_page-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 98.5vh;
}

.chat_page-container h1 {
    margin-left: 70px;
    margin-right: 90px;
    margin-top: 1.37em;
}

.active {
    color: #ffffff; /* Blue text color */
    font-weight: bold; /* Bold text */
}

nav ul li a {
    color: #000000; /* Default text color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px;
    display: block;
    transition: color 0.3s ease;
    width: 100%;
}

nav ul li a.active {
    color: #ffffff; /* Change text color when active */
}

.chat-messages {
    flex-grow: 1;
    overflow-y: auto; // Enables scrolling within the chat messages
    padding-right: 15px; // To accommodate scrollbar if it appears
    display: flex;
    flex-direction: column;
    gap: 5px; // Adds space between messages
}

.chat-message {
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    margin-bottom: 15px;
    word-wrap: break-word;
    background-color: #333;
    color: white;
}

.chat-message.user {
    align-self: flex-end; // Align user messages to the right
    background-color: #239700;
}

.chat-message.bot {
    align-self: flex-start; // Align bot messages to the left
    background-color: #000;
    border: 2.5px solid #2b2b2b;
}

.chat-message.bot_faq {
    align-self: flex-end; // Align bot messages to the left
    background-color: #000;
    border: 2.5px solid #2b2b2b;
}

.chat-message p {
    margin: 0;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 100%;
    word-wrap: break-word;
}

.chat-input {
    display: flex;
    padding: 10px;
}

.chat-input input {
    flex-grow: 1;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #40ff00;
    background-color: #161616;
    color: white;
    font-family: 'PoppinsMid';
    border-radius: 10px;
    outline: none;
    resize: none; /* Optional: removes the ability to resize the textarea */
    overflow-wrap: break-word; /* Ensures that words break if needed */
    white-space: pre-wrap; /* Ensures that the text wraps correctly */
}

.chat-input button {
    padding: 10px;
    width: 120px;
    border: none;
    background-color: #000;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    border: 2px solid #898989;
}

@keyframes pulse {
    0%, 100% {
        box-shadow: 0 0 0 0 rgba(97, 255, 5, 0.7);
    }
    50% {
        box-shadow: 0 0 0 5px rgba(97, 255, 5, 0.3);
    }
}

.chat-input input:focus {
    animation: pulse 3s infinite;
    box-shadow: 0 0 0 0 rgba(97, 255, 5, 0.7);
}

.contacts_container {
    margin-left: 70px;
    margin-right: 90px;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 1.4em;
}

.faq_container {
    margin-left: 70px;
    margin-right: 90px;
    margin-top: 1.4em;
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
}

.faq_question_container {
    display: flex;
    flex-direction: row;
}

.faq_question_container h2 {
    margin-right: 10px;
    margin-top: 0px;
}

.translation_buttons {
    margin-top: 1em;
    margin-right: 16px;
    display: flex;       /* Enables flexbox for the container */
    flex-direction: row; /* Aligns the children in a column */
    gap: 2px;           /* Optional: adds space between the buttons */
}

.translation_buttons .button {
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    color: #555555;
    background-color: transparent;
    cursor: pointer;    /* Indicates that the element is interactive */
    transition: color 0.3s, color 0.3s; /* Smooth transition for background color and text color */
}

.translation_buttons .button:hover {
    color: #ffffff;            /* Darker text color on hover */
}